<!-- La renderizacion del componente  -->

<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous"
/>

<div
  class="grid-block"
  style="
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5bbf58a6-1e85-4cfe-83fd-02df6f482b45/de8nlib-6bed7b3d-3d7e-4763-bb60-18f5ee0127fd.png/v1/fill/w_1024,h_652,q_80,strp/background_prairie_pokemon_screencapture_by_nemotrex_de8nlib-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjUyIiwicGF0aCI6IlwvZlwvNWJiZjU4YTYtMWU4NS00Y2ZlLTgzZmQtMDJkZjZmNDgyYjQ1XC9kZThubGliLTZiZWQ3YjNkLTNkN2UtNDc2My1iYjYwLTE4ZjVlZTAxMjdmZC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZVgNGi61AOkC068E-wphWmAUW8amj0MiJySqDcMCVh8');
    width: 100%;
    height: 100%;
    background-size: cover;
  "
>
  <div class="d-flex justify-content-center">
    <h1 class="text-warning">Poke API</h1>
  </div>
  <div>
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="card m-2" style="width: 18rem" *ngFor="let item of data">
        <img
          class="card-img-top"
          src="https://e7.pngegg.com/pngimages/405/350/png-clipart-pokemon-logo-pokemon-logo.png"
          alt="Card pokemon"
        />
        <div class="card-body">
          <h5 class="card-title">Nombre del pokemon</h5>
          <p class="card-text d-flex justify-content-center">{{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
